*{
    border: 0;
    padding: 0;
}

:root {
    --primary: #0b254b;
    --light: #ffffff;
    --light-blue: #F5F6FA;
    --grey: #eff2f7;
    
    --colora-azul-1:#009b94;
    --colora-azul-2:#30ded5;
    --colora-azul-1:#55dfd8;
    --colora-azul-1:#8aeae5;
    --colora-azul-1:#c2fffc;

  }

#sidebar-container{
    min-height:  100vh;
    margin-left: -18rem;
    transition: all 0.5s ease; 
}


#sidebar-container .sidebar-head{
    background: cornflowerblue;

}

#sidebar-container .sidebar-head-logo{
    padding: 2rem 1.5rem;
}

#sidebar-container .sidebar-head-content{

    padding: 2rem 1.5rem;
}


#sidebar-container .sidebar-menu{
    width: 18rem;
}


#content-wrapper.toggled #sidebar-container{
    margin-left: 0;
}

@media(min-width:768px){

    #sidebar-container{
        margin-left: 0;
    }

    #page-container{
        min-width: 0;
        width: 100;
    }

    #content-wrapper.toggled #sidebar-container{
        margin-left: -18rem;
    }



}


.accordion-sidebar span{
    cursor: pointer;
}


.card-border-none{
    border: 0px solid ;
}


.billing-content {
    margin: 0;
    /* overflow: scroll;  */
    padding: 6px 10px;
}

.div-list-sidebar{
    padding: 10px 20px;
}
.div-list-sidebar__ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.div-list-sidebar ul > li{
    height: 30px;
    background: #ffffff;
    padding-left: 10px;
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.div-list-sidebar ul li a {
    text-decoration: none;
    color: black;
    /* color: --var(--colora-azul-); */
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.div-list-sidebar ul li a:hover {
    /* font-size: 17px; */
    font-weight: bold;
    color: var(--colora-azul-2);
}






#menu-toggle i{
    padding: 5px;
    border: 2px solid rgb(119 119 119 / 50%);
    border-radius: 5px;
}

/*SOMBRA PARA CONTENEDORES*/
.content-sombras{
    box-shadow: 0 2px 8px -3px #34495E;
}


/* height and width */
.height100vh{
    height: 100vh;
}
.height100{
    height: 100%;

}



/* colores */

